{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Forgot Password</title>

    <!-- Font Icon
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">-->

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/fp.css' %}">

    <!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="main">
        <!-- Forgot Password  Form -->
        <section class="fp">
            <div class="container">
                <div class="fp-content">
                    <div class="fp-image">
					  <figure><img src="{% static 'images/fp-image.png' %}" alt="sing up image"></figure>
                    </div>

                    <div class="fp-form">
                        <h2 class="form-title">Forgot Password?</h2>
                        <form method="POST" class="register-form" id="login-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="username"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="username" placeholder="Username" required/>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="fp" id="fp" class="form-submit" value="Send E-mail"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>