{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/fp.css' %}">

    <!-- google font -->
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="main">
        <!-- Forgot Password  Form -->
        <section class="fp">
            <div class="container">
				<div class="fp-content">
                    <div class="fp-image">
					  <figure style="width: auto; padding-top: 40px; left:20px; "><img src="{% static 'images/conf.svg' %}" alt="error image"></figure>
                    </div>

                    <div class="fp-form">
                        <h2 class="form-title">Successful!</h2>
						<p>Your password has been changed successfully!<br>
							You can now proceed to login.</p>
                        <!--<form method="POST" class="register-form" id="login-form">
                          <div class="form-group form-button" style="margin-top: 30px;">
                                <input type="submit" name="fp" id="fp" class="form-submit" value="Login"/>
                            </div>
                        </form>-->
                        <br>
                        <p>You can <a href="{% url 'login' %}">Login Now</a>.</p>
                    </div>
                </div>

            </div>
        </section>

    </div>

    <!-- JS -->
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>