{% extends "base.html" %}

{% block title %}
    CategoryList
{% endblock title %}


        {% block context %}

            <div class="container-fluid" style="margin: -72px 16px 24px 0">

            {% if user.is_patient %}

            {% if doctor %}


                <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h3 class="card-title mt-5"><i
                                            class="mr-1 font-18 mdi mdi-numeric-1-box-multiple-outline" style="padding-top: -20px;"></i>Doctor List </h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Specialization</th>
                                                    <th scope="col">Degrees</th>
                                                    <th scope="col">Fees</th>
                                                    <th scope="col" style="align-content :center;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                {% for doctor in doctor %}
                                                <tr>
                                                    <td><a href="{% url 'checkDocProfile' doctor.user.id %}">Dr. {{doctor.user.first_name}} {{ doctor.user.last_name }}</a></td>
                                                    <td>{{ doctor.specialization }}</td>
                                                    <td>{{ doctor.degrees }}</td>
                                                    <td>{{ doctor.fees }}</td>
                                                    <td><a href="{% url 'bookAppointment' doctor.user.id request.user.id %}"><button class="btn text-dark btn-light">Book Appointment</button></a></td>
                                                </tr>

                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>

                {% if count >= 6 %}

                    <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="?pg=1"><<</a></li>
                {% if doctor.has_previous %}
                    <li class="page-item"><a class="page-link" href="?pg={{doctor.previous_page_number}}">{{doctor.previous_page_number}}</a></li>
                {% endif %}
                    <li class="page-item"><a class="page-link" href="?pg={{doctor.number}}">{{doctor.number}}</a></li>
                {% if doctor.has_next %}
                    <li class="page-item"><a class="page-link" href="?pg={{doctor.next_page_number}}">{{doctor.next_page_number}}</a></li>
                {% endif %}
                <li class="page-item"><a class="page-link" href="?pg={{doctor.paginator.num_pages}}">>></a>
                </li>
                    </ul>
                </nav>

                    {% endif %}

            {% else %}

                <h3>No such Doctor with such Specialization exists!</h3>

             {% endif %}

            {% else %}

                <h5>You are not authorized here!</h5>

            {% endif %}

            </div>
        {% endblock context %}
