{% extends "base.html" %}

{% block title %}
    PatientHome
{% endblock title %}


        {% block context %}

            <div class="container-fluid" style="margin-top: -64px;">
            {% if user.is_patient %}

                    {% if request.user.id == patient.user.id %}

                        {% if today_appointment %}

                <div class="card-rows">
				  <div class="card">
					<div class="card-body">
						<h3 class="card-title mt-5"><i
                                        class="mr-1 font-18 mdi mdi-numeric-1-box-multiple-outline" style="padding-top: -20px;"></i>Today's Appointments</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Patient Name</th>
                                                <th scope="col">Doctor Name</th>
                                                <th scope="col">Doctor Specialisation</th>
                                                <th scope="col">Appointment Date</th>
                                                <th scope="col">Appointment Time</th>
												<th scope="col">Reason Of Visit</th>
                                                <th scope="col" style="align-content :center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for app in today_appointment %}
                                            <tr>
                                                <th>{{ app.p_first_name }} {{ app.p_last_name }}</th>
                                                <td>Dr. {{ app.doctor.user.first_name }} {{ app.doctor.user.last_name }}</td>
                                                <td>{{ app.doctor.specialization }}</td>
												<td>{{ app.a_date }}</td>
												<td>{{ app.a_time }}</td>
                                                {% if app.visit_reason %}
												    <td>{{ app.visit_reason }}</td>
                                                {% else %}
												    <td>-</td>
                                                {% endif %}
                                                {% if app.a_time > current_time %}
                                                    <td><a href="{% url 'patCancelAppointment' app.id %}"><button class="btn btn-link" style="color: red; font-size:16px;">Cancel</button></a></td>
                                                {% else %}
                                                    <td>-</td>
                                                {% endif %}
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
					</div>
				  </div>
				</div>

                {% else %}

                    You don't have any appointments for today!
                    <br><br>

                {% endif %}


                {% if appointment %}

				<div class="card-rows">
				  <div class="card">
					<div class="card-body">
						<h3 class="card-title mt-5"><i
                                        class="mr-1 font-18 mdi mdi-numeric-1-box-multiple-outline" style="padding-top: -20px;"></i>Upcoming Appointments</h3>
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Patient Name</th>
                                                <th scope="col">Doctor Name</th>
                                                <th scope="col">Doctor Specialisation</th>
                                                <th scope="col">Appointment Date</th>
                                                <th scope="col">Appointment Time</th>
												<th scope="col">Reason Of Visit</th>
                                                <th scope="col" style="align-content :center;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for app in appointment %}
                                            <tr>
                                                <th>{{ app.p_first_name }} {{ app.p_last_name }}</th>
                                                <td>Dr. {{ app.doctor.user.first_name }} {{ app.doctor.user.last_name }}</td>
                                                <td>{{ app.doctor.specialization }}</td>
												<td>{{ app.a_date }}</td>
												<td>{{ app.a_time }}</td>
                                                {% if app.visit_reason %}
												    <td>{{ app.visit_reason }}</td>
                                                {% else %}
												    <td>-</td>
                                                {% endif %}
                                                <td><a href="{% url 'patCancelAppointment' app.id %}"><button class="btn btn-link" style="color: red; font-size:16px;">Cancel</button></a></td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
					</div>
				  </div>
				</div>

                    {% endif %}

                    {% else %}

                        <h5>You are not authorized here!</h5>

                    {% endif %}

            {% else %}

            You are not authorized here!

            {% endif %}

            </div>
        {% endblock context %}

